.content
  .slider.single-item
    %div.quote-container
      .portrait.octogon
        %img{src: "http://www.tuacahntech.com/uploads/6/1/7/9/6179841/6166205_orig.jpg", alt:""}
      .quote
        %blockquote
          %p Meditation shabby chic master cleanse banh mi Godard. Asymmetrical Wes Anderson Intelligentsia you probably haven't heard of them.
          %cite 
            %span Kristi McSweeney
            %br
            Thundercats twee
            %br
            Austin selvage beard
    %div.quote-container
      .portrait.octogon
        %img{src: "http://static1.squarespace.com/static/51579fb2e4b0fc0d9469ff97/56cc83dfe707ebc39cf3269f/56d0b59e27d4bde4665fded3/1457365822199/", alt: ""}
      .quote
        %blockquote
          %p Bespoke occupy cred seitan. Austin street art freegan Truffaut leggings aesthetic, salvia chia Brooklyn flexitarian. Single-origin coffee before they sold out health goth, cornhole irony keffiyeh Austin taxidermy mlkshk blog trust fund banh mi you probably haven't heard of them.
          %cite
            %span Dina Anderson
            %br
            Blue Bottle keffiyeh
            %br
            Sartorial locavore Schlitz ennui
%svg
  %defs
    %clipPath#octogon{clipPathUnits: "objectBoundingBox"}
      %polygon{points: "0.50001 0.00000, 0.61887 0.06700, 0.75011 0.06721, 0.81942 0.18444, 0.93300 0.25001, 0.93441 0.38641, 1.00000 0.49999, 0.93300 0.61887, 0.93300 0.75002, 0.81556 0.81944, 0.74999 0.93302, 0.61357 0.93444, 0.50001 1.00000, 0.38118 0.93302, 0.24998 0.93302, 0.18056 0.81556, 0.06700 0.74899, 0.06559 0.61359, 0.00000 0.49999, 0.06700 0.38111, 0.06700 0.25001, 0.18440 0.18058, 0.25043 0.06700, 0.38641 0.06559, 0.50001 0.00000"}
      